{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>DELETE PAGE</title>
{% endblock %}

{% block content %}
<center>
    <div class="container jumbotron">
        <form method="post">
            {% csrf_token %}
            <h3 style="color:blueviolet">Really You Want To Delete?</h3>
            <br>
            <input type="submit" value="YES" class="btn btn-danger">
            <button class="btn btn-warning"><a href="{% url 'show_url' %}">NO</a></button>
        </form>
    </div>
</center>
{% endblock %}